<h3>Resultados de búsqueda</h3>

{{#each posts}}

<div class="posts-container">
    <h6>@{{this.userHandle}}</h6>
    <h5>{{this.titulo}}</h5>
        <p style="font-size: 20px">{{this.descripcion}}</p>
        <p style="font-size: 14px">Instrumento: {{this.instrumento}}</p>
        <p style="font-size: 14px">Disponibilidad Horaria: {{this.disponibilidadHoraria}}</p>
        <p style="font-size: 14px">Ciudad/Barrio: {{this.ciudad}}</p>
</div>
 <div class="divider"></div>
{{/each}}